<nav class="navbar">
  <div class="container-fluid">

      <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Поиск по сценариям" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>


      <div class="btn-group" role="group" aria-label="Basic outlined example">
          <button type="button" class="btn btn-outline-primary">Автоматизирован</button>
          <button type="button" class="btn btn-outline-primary">Не автоматизирован</button>
          <button type="button" class="btn btn-outline-primary">Пропущен</button>
      </div>

  </div>
</nav>